<div id="<%= dom_id news %>">
  <p>
    <strong><h1>Title:</h1></strong>
    <h2><%= news.title %></h2>
  </p>

  <p>
    <strong>Contents:</strong>
    <%= simple_format(news.contents) %>
  </p>

</div>
