<p style="color: green"><%= notice %></p>

<h1>News</h1>

<div id="news">
  <% @news.each do |news| %>
    <%= render news %>
    <p>
      <%= link_to "Show more...", news, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "Create New Article", new_news_path, class: "btn btn-primary" %>
